<h2>Search Assignments</h2>
<form action="/assignments" method="get">
    <label>Name:</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
<button type="submit">Search</button>
<div><% assignments.forEach(assign => { %>
    <%= assign.name %>
    <%= assign.deadline.toDateString() %>
    <a href="/assignments/<%= assign.id %>">View</a>
    <a href="/assignments/<%= assign.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/assignments/${assign.id}`}) %>

<% }) %>
</div>
</form>