<div class="container">
<h2 class="page-header">Search Assignments</h2>
<div class="inner-container">
<form action="/assignments" method="get">
    <div class="form-row">
        <div class="form-item">
            <label>Name:</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
        <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        
  
   
<% assignments.forEach(assign => { %>
    <div class="index-contents-data-other">
        <p><span>Name: </span> <%= assign.name %></p> 
        <p><span>Deadline: </span> <%= assign.deadline.toDateString() %></p> 
    </div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/assignments/<%= assign.id %>">View</a>
        <a class="btn btn-primary" href="/assignments/<%= assign.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/assignments/${assign.id}`}) %>
    </div>
<% }) %>

</form>
</div>
</div>