<div class="cover-image">
    <img width=100% height=100% src="<%= note.coverPath%>">
</div>
<div class="container">
<h2 class="page-header"><%= note.name %></h2>
<div class="inner-container">
    <p style="font-family: 'Roboto Mono',monospace;font-weight: lighter;font-size: 20px;color: var(--font-color);"><%= note.note %></p>

    <div class="btn-row">
        <a class="btn btn-primary" href="/notes/<%= note.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/notes/${note.id}`}) %>
    </div>
</div>
</div>